global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 100000
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    option  dontlognull
    option  redispatch
    retries 3
    maxconn 5000
    timeout connect 5s
    timeout client 1h
    timeout server 1h
    timeout tunnel 1h
    option  http-server-close

frontend prometheus
  bind *:8405
  mode http
  http-request use-service prometheus-exporter if { path /metrics }
  no log


## GUACAMOLE ##
frontend guacamole_http_front
    bind *:8080
    mode http

    # ---- Rate limiting ----
    stick-table type ip size 200k expire 10s store http_req_rate(10s)
    http-request track-sc0 src
    http-request deny if { sc_http_req_rate(0) gt 200 }

    default_backend guacamole_web_backends

backend guacamole_web_backends
    mode http
    balance source
    option httpchk GET /
    option forwardfor except 127.0.0.0/8
    cookie SERVERID insert indirect nocache
    stick-table type ip size 200k expire 1h
    stick on src
    server guac-web1  4.5.0.5:8082 check cookie web1
    server guac-web2  4.5.0.5:8083 check cookie web2
    server guac-web3  4.5.0.5:8084 check cookie web3
    server guac-web4  4.5.0.5:8085 check cookie web4



##### GUACD ######
frontend guacd_frontend
    bind *:4822
    mode tcp
    default_backend guacd_backends

backend guacd_backends
    mode tcp
    balance source
    option tcp-check
    stick-table type ip size 200k expire 1h
    stick on src
    server guacd1 4.5.0.6:4822 check
    server guacd2 4.5.0.6:4823 check
    server guacd3 4.5.0.6:4824 check
    server guacd4 4.5.0.6:4825 check
    server guacd5 4.5.0.6:4826 check
