[Unit]
Description=Run /sbin/startup before user logins
Before=systemd-user-sessions.service
Wants=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash /sbin/startup
Environment=PATH=/usr/sbin:/usr/bin:/sbin:/bin
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
